@font-face {
font-family: 'Source-Han-Normal';
src: url('Source-Han-Normal.eot');
src: url('Source-Han-Normal.eot?#iefix') format('embedded-opentype'),
     url('Source-Han-Normal.woff') format('woff'),
     url('Source-Han-Normal.ttf') format('truetype'),
     url('Source-Han-Normal.svg#Source-Han-Normal') format('svg');
    font-weight: normal;
    font-style: normal;
   }

@font-face {
font-family: 'DIN-Light';
src: url('DIN-Light.otf');
    font-weight: normal;
    font-style: normal;
   }

@font-face{
	font-family:'FZYouHeiJW',
	src: url('FZYouHeiJW_XIAN.ttf');
        font-weight: normal;
        font-style: normal;
}
